* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Barra_lateral {
    background-color: rgb(44, 52, 64);
    width: 20%;
    height: 100vh;
    border-right: 1px solid rgb(0, 0, 0);
}

.Imagen_barra_lateral {
    width: 15%;
    margin-top: 10px;
    margin-left: 10px;
}

.Nombre_app {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    position: relative;
    left: 60px;
    bottom: 35px;
    color: white;
}

a {
    margin-left: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: gray;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
}


a:hover {
    background-color: rgba(180, 79, 247, 0.1);
    color: #ab4ff7;
    width: 80%;
}

.Cerrar_sesion {
    position: relative;
    top: 60vh;
}