*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.Header{
    background-color: #0B0E14;
    color: white;
    padding: 40px o;
}
.Header__container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.Header__title{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Header__link{
    display: flex;
    gap: 30px;
}
.Header__enlace{
    text-decoration: none;
    color: inherit;
    padding: 6px 12px;
    border-radius: 4px;
}
.Header__enlace:hover{
    background-color: #0763ee;
}

.Inicio {
  background-color: #0B0E14;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 40px 20px;
}


.Inicio__hero {
  margin-top: 40px;
  margin-bottom: 80px;
}

.Inicio__titulo {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

.Inicio__descripcion {
  font-size: 1rem;
  color: #b0b0b0;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

.Inicio__boton {
  background-color: #2563eb; 
  color: inherit;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}




.Inicio__caracteristicas {
  margin-bottom: 100px;
}

.Inicio__subtitulo {
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit;
  margin-bottom: 10px;
}

.Inicio__texto {
  font-size: 0.95rem;
  color: #b0b0b0; 
  max-width: 600px;
  margin: 0 auto 40px auto;
}


.Inicio__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Inicio__card {
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  width: 280px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.Inicio__card h3 {
  color: inherit;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.Inicio__card p {
  color:#b0b0b0;
  font-size: 0.9rem;
  line-height: 1.4;
}



.Inicio__footer {
  border-top: 1px solid #2d2d2d;
  padding-top: 20px;
  font-size: 0.85rem;
  color: #b0b0b0;
}

.Inicio__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.Inicio__links a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.Inicio__links a:hover {
  color: #ffffff;
}